{% extends 'login/base.html' %}

{% load staticfiles %}

{% block body %}
    {% if repo_list %}
        <p>Total Repository : </p>
        <ul>
            {% for repo in repo_list %}
                <li>
                    <a href="{% url 'reg:repo_detail'  repo.repo_name  %}">{{ repo.repo_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
<form action="{% url 'reg:create_repo' %}" method="get">
    {% csrf_token %}
    <input type="submit" name="submit" value="Create Repository">
</form>
{% endblock %}